<div class="footer">
	<small>
			<%= link_to "pIn Good Health","http:\\www.pInGoodHealth.com"%> is a division of <%= link_to "LiteMind Group, Inc.", "http:\\www.litemindgroup.com" %>
	</small>
</div>
