<!DOCTYPE html>
<html>
	<head>
		<title>Spendworthy</title>
		<link type="text/css" rel="styles" href="styles.css"/>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
        <h1>Spendworthy</h1>
				<p>It's time to decide whether that new trinket is worth your money. Is it <i>spendworthy</i>?</p>
				<p><%= link_to "Sign Up Now!", new_user_registration_path, class:"btn btn-primary btn-lg", role:"button"%>
        </p>
			</div>
		</div>
		<div id="footer">
			<p>Copyright 2013	<%= link_to "LiteMind Group, Inc.", "http://www.litemindgroup.com" %></p>
		</div>
	</body>
</html>

