<h1>About</h1>

<p>
	<%= link_to "pInGoodHealth","http:\\www.pInGoodHealth.com" %> is a healthcare information sharing resource. Perhaps your company wellness program would like to direct employees to specific healthcare resources and services. Keep them all in one dynamic location that you control. 
</p>

<h2>Here's how:</h2>
<div>
		<ol>
			<li>Sign up for an account.</li>
			<li>Pin a site with info you find helpful.</li>
			<li>Rate the quality of the info.</li>
		</ol>
</div>

<h3>That's it! But if you want to do more, rate what others have pinned.</h3>
<p>That way, others can zero in the best health info out there. When they feel they've become pros at handling their own health, they can pay it forward!</p>

