<div class="center hero-unit">
	<h1>Welcome to pInGoodHealth</h1>
	<p>pInGoodHealth lets you share with others like you healthcare information you've found helpful. Consider pIGH a karma builder! </p>

	<p>
		<%= link_to "Sign up now!", '#' %>
	</p>
</div>

