<h1>About</h1>

<p>
	<%= link_to "pInGoodHealth","http:\\www.pInGoodHealth.com" %> is a healthcare information sharing resource. As a healthcare professional or organization, you're likely one of the greatest judges of quality healthcare information. To simplify sharing information with your patients, you can create your own page and pin articles you've personally vetted to share with your patients. 
</p>

<h2>Here's how:</h2>
<div>
		<ol>
			<li>Sign up for an account.</li>
			<li>Pin a site with info you find helpful.</li>
			<li>Add a tag so patients know where to go.</li>
			<li>Rate the quality of the info.</li>
		</ol>
</div>

<h3>That's it! But if you want to do more, rate what others have pinned.</h3>
<p>That way, patients can zero in the best health info out there. When they feel they've become pros at handling their own health, they can pay it forward!</p>

